body {
    display: flex;
    flex-flow: column wrap;
}

ul {
    display: flex;
}

.header {
    display: flex;
    justify-content: space-between;
}

.main {
    display: flex;
}

.main-left {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.main-right {
    flex: 1;
}

#logo {
    max-width: 4%;
}

#main-image {
    max-width: 30%;
}