body {
    display: flex;
    flex-flow: column wrap;
    padding: 0 200px;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 10px;
}

a {
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: space-between;
}

.main {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.main-left {
    display: flex;
    flex-flow: column wrap;
    flex: 1;
    align-items: flex-start;
}

.main-right {
    display: flex;
    flex: 1;
}

#main-image {
    max-height: 200px;
    max-width: 200px;
    margin: auto;
}

.four-cars-container {
    display: flex;
    flex-direction: column;
}

.images-container {
    display: flex;
    flex-wrap: wrap;
}

.first-image-container , .second-image-container , .third-image-container , .fourth-image-container {
    display: flex;
    flex-direction: column;
}

.quote-container {
    display: flex;
}

.trigger-container {
    display: flex;
}

#logo {
    max-width: 4%;
}