body {
    display: flex;
    flex-flow: column wrap;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 10px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

h2 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

button {
    background-color: #3882F6;
}

#logo {
    max-width: 4%;
}

#footer {
    flex: 1;
}

.main-left p {
    font-size: 18px;
    color: #E5E7EB;
}

.header {
    display: flex;
    justify-content: space-between;
}

.main {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.main, .header {
    background-color: #1F2937;
}

.main-left {
    display: flex;
    flex-flow: column wrap;
    flex: 1;
    align-items: flex-start;
}

.main-right {
    display: flex;
    flex: 1;
}

#main-image {
    max-height: 200px;
    max-width: 200px;
    margin: auto;
}

.four-cars-container {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.images-container {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
}

.middle-images {
    max-height: 200px;
    max-width: 200px;
    margin: auto;
}

.first-image-container , .second-image-container , .third-image-container , .fourth-image-container {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.background-quote-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #E5E7EB;
}

.quote-container {
    display: flex;
    flex-flow: column wrap;
}

#quoter {
    align-self: flex-end;
}

.background-quote-container p {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #1F2937;
}

.background-quote-container #quoter {
    font-size: 18px;
    color: black;
    font-weight: 700;
}

.trigger-container {
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
    background-color: #3882F6;
}